
@{
    ViewBag.Title = "GermanyCustomers";
}

<!DOCTYPE html>
<html>
<head>
    <title>German Customers</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h2>German Customers</h2>
    <table>
        <tr>
            <th>Customer ID</th>
            <th>Company Name</th>
          
        </tr>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.CustomerID</td>
                <td>@customer.CompanyName</td>
               
            </tr>
        }
    </table>
</body>
</html>
